{
    experimental_http3
}

benchmark.com:443 {
    tls /etc/ssl/http2benchmark.crt /etc/ssl/http2benchmark.key
    root * /var/www/html
    file_server
    encode gzip {
        gzip 1
    }
    php_fastcgi unix//run/php/php7.2-fpm.sock 
}

wordpress.benchmark.com:443 {
    tls /etc/ssl/http2benchmark.crt /etc/ssl/http2benchmark.key
    root * /var/www/html/wp_caddy
    file_server
    encode gzip {
        gzip 1
    }
    php_fastcgi unix//run/php/php7.2-fpm.sock
}

